{% extends "base.html.twig" %}
{% block title %}Ptaszniki{% endblock %}

{% block body %}
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <font size="14">PTASZNIKI</font><br><br><br>
    <a href="/ptaszniki"> <img src="images/ptasznik.png"/></a>

{% endblock %}