<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Aplikacja Ptaszniki{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="sidebar">
			{% block sidebar %}
		<ul>
                     <li><a href="/ptaszniki">Ptaszniki</a></li>
                     <li><a href="/zdarzenia">Zdarzenia</a></li>
                     <li><a href="/dostawy">Dostawy</a></li>
                     <li><a href="/pracownicy">Pracownicy</a></li>
                     <li><a href="/terraria">Terraria</a></li>
                     <li><a href="/karmy">Karmy</a></li>
                 </ul>
			{% endblock %}
		</div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
