body {
    background: #000 url("../images/tlo.png") no-repeat;
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
}

p {
    text-align: left;
}

button {
    text-decoration: none;

    font-weight: bold;
    background: #000 url("../images/button.png") repeat-x center;
    color: #fff;
    padding: 10px 20px;
    border-right: 1px solid #fff;
    border-radius: 4px;
    margin: 10px;

}

button:hover {
    background-color: #800;
    background-image: url("../images/button2.png");
}


input[type="text"], [type="date"], [type="number"]{
    width: fit-content;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    display: table;
}

select {
    width: fit-content;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="checkbox"]{
    width: auto;
}

table {
    text-align: center;
    margin: auto;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    display: table;
    overflow-x: auto;

}



table tr th{
    padding: 5px;
    border-bottom: 1px solid;
}
table tr td{
    padding: 5px;
    font-size: 0.9em;

}

table button{
    margin: 0;
}

table a{
    color: white;
    text-decoration: none;
}
table a:hover{
    color: gray;
    text-decoration: underline overline;
}


/*==============================================================*/
/*   sidebar  */
/*==============================================================*/
.sidebar {
    text-align: center;
    padding-bottom: 20px;
    display: block;

}

.sidebar ul, ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url("../images/button.png") repeat-x center;
}

.sidebar ul li {
    display:inline-block;
}

.sidebar ul a:link, ul a:visited {
    text-decoration: none;
    display: block;
    font-weight: bold;
    background: #000 url("../images/button.png") repeat-x center;
    color: #fff;
    padding: 10px 20px;    
}

.sidebar ul a:hover {
    background-color: #800;
    background-image: url("../images/button2.png");
}

/*==============================================================*/
/*   end sidebar  */
/*==============================================================*/

/*==============================================================*/
/*   formularz  */
/*==============================================================*/

/* Style the container */
.formularz {
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: auto;
}


/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.form_row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style inputs, select elements and textareas */
.formularz input[type=text], select, textarea{
    width: fit-content;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
.formularz label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
.formularz input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}



/*==============================================================*/
/*  end formularz  */
/*==============================================================*/

/*==============================================================*/
/*   szukaj  */
/*==============================================================*/

.szukaj {
    float: right;
    width: 30%;
    display: table;
    padding: 10px;
}

.szukaj input {
    float: right;
    width: 70%;
    margin: 0;
    display: inline-block;

}

.szukaj button {
    width: 25%;
    float: right;
    margin: 0 5px 0 5px;
}

/*==============================================================*/
/*   combobox  */
/*==============================================================*/

.combobox {
    float: left;
    width: fit-content;
    padding: 10px;
    display: table;
}

.combobox select{
    width: fit-content;
    float: left;
    display: inline-block;
    margin: 0;
}

.combobox button {
    width: fit-content;
    float: right;
    margin: 0 5px 0 5px;
}
/*==============================================================*/
/*   paginating  */
/*==============================================================*/

.paginating {
    float: left;
    width: fit-content;
    padding: 10px;
    display: table;
}
.paginating label {
    padding: inherit;
    float: left;
}

.paginating select{
    width: fit-content;
    display: inline-block;
    margin: 0;
    float: left;
}


.flash-notice {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    color: red;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.zapiszEdycje button {
    float: left;
    padding-left: 30px; 
    padding-right: 30px; 
}

.zapiszEdycje table{
    overflow-x: scroll;
    display: block;

}

.zapiszEdycje{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nawigacja {
    text-align: center;
    padding-bottom: 10px;
    display: block;
    height: 60px; 
}